<% layout("layouts/boilerplate") %>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds/<%= campground._id %>?_method=put"
      method="post"
      class="validated-form"
      enctype="multipart/form-data"
      novalidate
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="campground[title]"
          id="title"
          class="form-control"
          value="<%= campground.title %>"
          required
        />
        <div class="invalid-feedback">Campground Title is required</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="campground[location]"
          id="location"
          class="form-control"
          value="<%= campground.location %>"
          required
        />
        <div class="invalid-feedback">Campground Location is required</div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="number"
            name="campground[price]"
            id="price"
            class="form-control"
            placeholder="0.00"
            value="<%= campground.price %>"
            required
            aria-label="Price"
            aria-describedby="price-label"
          />
          <div class="invalid-feedback">Campground Price is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="campground[description]"
          id="description"
          class="form-control"
          required
        >
<%= campground.description %></textarea
        >
        <div class="invalid-feedback">Campground Description is required</div>
      </div>
      <div class="mb-3">
        <label for="images" class="form-label">Add More Images</label>
        <input
          type="file"
          name="images"
          id="images"
          class="form-control"
          multiple
        />
      </div>
      <div class="mb-3">
        <% campground.images.forEach((image, i) => { %>
        <img src="<%= image.thumbnail %>" alt="" class="img-thumbnail" />
        <div class="form-check-inline">
          <input
            type="checkbox"
            name="deleteImages[]"
            value="<%= image.filename %>"
            id="image-<%= i %>"
            class="form-check-input"
          />
          <label for="image-<%= i %>" class="form-check-label">Delete?</label>
        </div>
        <% }) %>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Update Campground</button>
      </div>
    </form>
    <a href="/campgrounds/<%= campground._id %>">Back To Campground</a>
  </div>
</div>
